﻿@using BookStore.Models
@{
    ViewBag.Title = "Index";
    List<Books> cartlist = new List<Books>();
    cartlist = (List<Books>)Session["cart"];
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>

    </tr>
    @if (cartlist != null)
    {
        foreach (var item in cartlist)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Cart", new { id = item.BookId }, new { @class = "btn  btn-danger btn-sm" })
                </td>
            </tr>
        }
    }

</table>

 @Html.ActionLink("Checkout","Checkout","Cart",null,new { @class = "btn btn-sm btn-success m-3"})