﻿<style>
    .masthead {
        height: 100vh;
        min-height: 500px;
   
    }

    body {
        margin: 0;
    }

    .my-body {
        padding: 0;
        margin: 0;
    }

    .my-btn {
        font-size: 1.5rem;
        padding: 0.5rem 3rem;
        border-radius: 0.45rem;
    }

    .my-heading {
        font-size: 4rem;
    }

    .my-tag {
        font-size: 2rem;
    }
</style>
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bolder my-heading">Thank you for your purchase</h1>
             </div>
        </div>
    </div>
</header>