﻿@model IEnumerable<BookStore.Models.Categories>

<h2>All Categories</h2>
<hr>

  
<div class="row my-row m-4">
    @foreach (var item in Model)
    {
        <div class="col-lg-1 m-5 my-col align-self-end">
            @Html.ActionLink(item.Name, "ViewCategory", "Category", new { genre = item.Name }, new { @class = "btn btn-secondary"})
        </div>

    }
</div>
