﻿@model IEnumerable<BookStore.Models.Categories>
@{
    ViewBag.Title = "UserView";
}
<style>
    .my-container {
        margin-top: 4vh;
        padding: 10px;
    }

    .my-col {
    }

    .my-row {
        height: 250px;
        background-color: #fff;
        box-shadow: hsl(0, 0%, 80%) 0 0 16px;
        margin-bottom: 20px;
    }

    .my-inner-row {
        justify-content: center;
        margin-top: 10px;
        font-size: 1.2rem;
    }
</style>

@foreach (var item in Model)
{
    <h2>@item.Name</h2>
    <hr>

    <div class="container-fluid my-container">

        @foreach (var book in item.Books)
        {
            <div class="row my-row justify-content-around shadow-lg">
                <div class="col-3 my-col align-self-center">
                    <div class="row my-inner-row">
                        <img class="shadow-lg" src="@Url.Content(book.ImageUrl)" width="130" height="160" />
                    </div>
                    <div class="row my-inner-row font-weight-bold">
                        @Html.DisplayFor(modelItem => book.Name)


                    </div>
                </div>
                <div class="col-5 my-col">
                     <div class="row my-inner-row justify-content-start row font-weight-bold mt-4">
                    Description
                </div>
                <div class="row my-inner-row justify-content-start mb-3"style="height:50%;">
                    @Html.DisplayFor(modelItem => book.Description)                  
                </div>
                <div class="row my-inner-row justify-content-start">
                    <span class="font-weight-bold">
                        Tags :
                        @foreach (var cat in book.Category)
                        {
                            @Html.ActionLink(cat.Name, "ViewCategory", "Category", new { genre = cat.Name }, new { @class = "btn btn-sm btn-secondary ml-2" })
                        }
                    </span>

                </div>

                </div>
                <div class="col-2 my-col align-self-center" style="border-left:1px solid #929aab;">
                    <div class="row my-inner-row align-items-center font-weight-bold" style="height:55%; font-size:1.76rem;">
                        <span>@Html.DisplayFor(modelItem => book.Price)</span>
                    </div>
                    <div class="row my-inner-row">
                        @Html.ActionLink("Add to cart", "OrderNow", "Cart", new { id = book.BookId }, new { @class = "btn btn-lg btn-success m-3" })
                    </div>
                </div>
            </div>


        }

    </div>
}


