﻿@model BookStore.Models.Books

@{
    ViewBag.Title = "Create";

}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Books</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.TextBoxFor(model => model.ImageFile, new { type = "file" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Authors, htmlAttributes: new { @class = "control-label col-md-2"  })
        <div class="col-md-10", id = "dynamic_field">
            <input type="text" name="Authors[0]"  class="form-control name_list d-inline-block" />
            <button type="button" name="add" id="addTextBoxForAuthor" class="btn btn-success d-inline-block">Add More</button>
            @Html.ValidationMessageFor(model => model.Authors[0], "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CategoriesId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.CategoriesId, ViewBag.CategoriesList as MultiSelectList, new { id = "multiSelectDropdown", multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.CategoriesId, "", new { @class = "text-danger" })
        </div>


    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn  btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var i = 1;
            $("#multiSelectDropdown").chosen(
                {
                    width: "70%"
                }
            );

            $('#addTextBoxForAuthor').click(function () {
                
                $('#dynamic_field').append('<span  id="row' + i + '"> <input type="text" name="Authors['+i+']"  class="form-control name_list d-inline-block" /> <button type = "button" name = "remove" id = "' + i + '" class= "btn btn-danger btn_remove d-inline-block" > X</button > </span>');
                i++;
            });

            $(document).on('click', '.btn_remove', function () {
                var button_id = $(this).attr("id");
                $('#row' + button_id + '').remove();
                $(button_id).remove();
            });
        }
        );
        @*$(function () {
           
           *@


    </script>

}
