﻿@model IEnumerable<BookStore.Models.Books>
@{
    ViewBag.Title = "UserView";
}
<style>
    .my-container {
        margin-top: 4vh;
     
        padding: 10px;
    }
    .my-col {
       
    }
    .my-row {
     
        height: 300px;
        background-color: #fff;
        box-shadow: hsl(0, 0%, 80%) 0 0 16px;
        margin-bottom:20px;
    }
    .my-inner-row { 
      
        justify-content: center;
        margin-top: 10px;
        font-size: 1.2rem;
    }

</style>
<h1>@ViewBag.heading</h1>
<hr>
@if(Model.Count()==0)
{
    <h2>No Books Found  </h2>
}
<div class="container-fluid my-container">
    @foreach (var item in Model)
    {
        
        <div class="row my-row justify-content-around shadow-lg">
            <div class="col-3 my-col align-self-center">
                <div class="row my-inner-row">
                    <img class="shadow-lg" src="@Url.Content(item.ImageUrl)" width="130" height="160" />
                </div>
                <div class="row my-inner-row font-weight-bold">
                    @Html.DisplayFor(modelItem => item.Name)
                   
                    
                </div>
            </div>

            <div class="col-5 my-col">
                <div class="row my-inner-row justify-content-start row font-weight-bold mt-4">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="row my-inner-row justify-content-start mb-3"style="height:50%;">
                    @Html.DisplayFor(modelItem => item.Description)                  
                </div>
                <div class="row my-inner-row justify-content-start">
                    <span class="font-weight-bold">
                        Authors:
                        @foreach (var cat in item.Author)
                        {
                            @Html.Display(cat.Name)
                        }
                    </span>
                </div>
                        <div class="row my-inner-row justify-content-start">
                            <span class="font-weight-bold">
                                Tags :
                                @foreach (var cat in item.Category)
                                {
                                    @Html.ActionLink(cat.Name, "ViewCategory", "Category", new { genre = cat.Name }, new { @class = "btn btn-sm btn-secondary ml-2" })
                                }
                            </span>

                        </div>



                </div>
            <div class="col-2 my-col align-self-center" style="border-left:1px solid #929aab;">
                <div class="row my-inner-row align-items-center font-weight-bold" style="height:55%; font-size:1.76rem;">
                    <span>@Html.DisplayFor(modelItem => item.Price)</span>
                </div>
                <div class="row my-inner-row">
                    @Html.ActionLink("Add to cart", "OrderNow", "Cart", new { id = item.BookId }, new { @class = "btn btn-lg btn-success m-3" })
                </div>
            </div>
        </div>


    }
</div>

    
<!--
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Add to cart", "OrderNow", "Cart", new { id = item.BookId }, null)
            </td>
        </tr>
    }

</table>

-->
