﻿@model IEnumerable<BookStore.Models.Order>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPlaced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPlaced)
        </td>
        <td>
            @if (item.OrderStatus == false)
            {
                @:Pending
            }
            else
            {
                @:Delivered
            }

        </td>
        
        <td>
            @Html.ActionLink("Delivered", "Delivered", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
