﻿body {
    background:#F5F5F5;
    margin-top:10vh;
   
}
.my-body {
    margin: 10vh 7% 0 7%;
}

.navbar-brand {
    color:white;
    font-weight:bold;
}
.nav-item{
    margin:0,10px,0,10px;
}
.form-inline
{
    margin-left:10px;
}
.form-inline .form-control{
    width:300px;
}
.dropdown-menu {
    background-color: #212121;
    color: #fff;
}
.dropdown-item{
    color:#fff;
}




