﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://kit.fontawesome.com/a94169ea4e.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow" style="background-color:#121212;">
        @Html.ActionLink("KITAB.COM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand ml-lg-5" })
        @using (Html.BeginForm("UserView", "Books", FormMethod.Get, new { @class = "form-inline" }))
        {
            @Html.TextBox("SearchString", null, new { @class = "form-control mr-sm-2", @placeholder = "Search Books" })
            <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        }
        
        @Html.ActionLink("Categories","ListCategories","Category",null,new { @class=" btn btn-primary ml-3"})
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynav">


            <div class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <div class="dropdown mr-lg-4">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Controls
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("Manage Books", "Index", "Books", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                                @Html.ActionLink("Manage Catagory", "Index", "Category", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                                @Html.ActionLink("Pending Order", "Index", "Orders", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                            </div>
                        </div>
                    }
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="my-body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
