﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
<!--<a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
<div class="dropdown">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </div>
</div>-->
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @User.Identity.GetUserName()
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </div>
</div>

    }
}
else
{
    @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary mr-lg-5" })
<!--
   < ul class="navbar-nav">
    <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
</ul>
-->
}
