﻿@model IEnumerable<BookStore.Models.Categories>

<div class="dropdown mr-lg-4">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Model)
        {
            @Html.ActionLink(@item.Name, "Index", "Books", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
            @Html.ActionLink("Manage Catagory", "Index", "Category", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
        }


    </div>
</div>